* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 5000px;
    background-color: #111111;
    display: flex;
    flex-direction: column;
}

body {
    background: url(../style/img/bg.jfif);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #00000080;
    background-blend-mode: color;
}

main {
    flex: auto;
}

header {
    width: 1280px;
    margin: 30px auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: solid 1px #cdaa7d00;
}

nav label {
    cursor: pointer;
    color: white;
}

nav label:hover {
    color: #CDAA7D;
}

nav a:hover {
    color: #CDAA7D;
    border-bottom: solid 1px #CDAA7D;
}

.logo {
    margin: 0 40px;
}

.instagram, .logo {
    border: none !important;
}

.inst:hover path {
    stroke: #CDAA7D;
}

.logo:hover path {
    fill: #CDAA7D;
}

#menu, .nav_contact {
    display: none;
}

#menu:checked ~ .nav_contact {
    transform: translate(0, 0);
}

.nav_contact {
    transform: translate(475px, 0);
    transition: all .1s linear;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    height: 100vh;
    width: 475px;
    background-color: #111111dd;
    position: fixed;
    right: 0;
    bottom: 0;
    justify-content: center;
    gap: 60px;
    padding: 0 80px;
    border-left: 1px solid #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}   

.nav_contact label {
    position: absolute;
    top: 42px;
    left: 82px;
    cursor: pointer;
    color: #FFFFFF;
}

.nav_contact label:hover {
    color: #CDAA7D;
}

.nav_contact ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav_contact ul li:first-child {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}